* {
    margin: 0;
}

.game-container {
    display: grid;
    grid-template: 100px 50px 450px / 1fr;
    gap: 25px;
    justify-items: center;
    align-items: center;
    background-color: rgb(32, 22, 49);
    min-height: 100vh;
}

.title {
    color: rgb(147, 201, 171);
}

.controls {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: rgb(163, 163, 159);
    padding: 15px;
    border-radius: 6px;
    font-size: 1.5rem;
}

.selector-switch {
    display: flex;
    align-items: center;
    gap: 2px;
}


.controls p {
    color: rgb(50, 105, 76);
    font-weight: bold;
}

.switch {
    display: flex;
    gap: 0;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 24px;
    background-color: rgb(99, 68, 153);
    width: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
}

.slider {
    content: "";
    background-color: rgb(106, 168, 135);
    width: 15px;
    border-radius: 24px;
    border: 1px solid rgb(99, 68, 153);
    transition: all 0.5s;
}

input:checked + .slider {
    transform: translateX(13px);
}



.restart-button {
    font-size: 1.2rem;
    border-radius: 6px;
    border: 1px solid rgb(216, 215, 215);
    color: rgb(147, 201, 171);
    background-color: rgb(99, 68, 153);
}

.restart-button:hover {
    background-color: rgb(147, 201, 171);
    color: rgb(99, 68, 153);
}

.player {
    color: rgb(50, 105, 76);
    font-weight: bold;
}

.game-board {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(3, 100px);

}

.board-box {
    min-height: 100px;
    border: 1px solid rgb(194, 189, 189);
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 50px;
    transition: all 1s;
    color: rgb(32, 22, 49);
}

.board-box:nth-child(-n +3) {
    border-top: none;
}

.board-box:nth-child(3n +1) {
    border-left: none;
}

.board-box:nth-child(1n +7) {
    border-bottom: none;
}

.board-box:nth-child(3n +3) {
    border-right: none;
}